body {

    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI Light", "Arial", sans-serif;
    font-weight: 100;
    letter-spacing: 0.8px; 
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    background: url(winter.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-size: 105%;
    /* background-position: center center;  */
    /* background-position: center; */
    transition: background-position 0.1s ease;
    overflow: hidden;
}
.glass {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.064);
    padding: 20px;
    text-align: center;
    width: 31rem;
}

.glass h1{

    font-weight: 10;
    color: white;
}

.glass-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 30px;
    
}

.glass-card {
    background: rgba(0, 0, 0, 0.168);
    border-radius: 30px;
    padding: 10px;
    margin: 5px;
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.116);
    width: 200px;
    color: white;
}



#cityInput {
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 10px;
    background: rgba(32, 32, 32, 0.2);
    color: rgb(0, 0, 0);
    backdrop-filter: blur(40px);
    outline: none;
}

#cityInput::placeholder {
    color: rgba(0, 0, 0, 0.6);
}

button {
    padding: 10px 20px;
    border: none;
    background: rgba(255, 255, 255, 0.3);
    color: white;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
    backdrop-filter: blur(10px);
    transition: 0.3s ease;
}

button:hover {
    background: rgba(255, 255, 255, 0.5);
}



/* -------------------------------------- */

.glass {
    background: linear-gradient(
        rgba(141, 141, 141, 0.2),  
        rgba(82, 81, 81, 0.15), 
        rgba(158, 158, 158, 0.1)   
    );
    border-radius: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    padding: 20px;
    text-align: left;
    width: 31rem;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.2); 
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}


#cityInput {
    width: 45%;
    padding: 10px;
    border-radius: 12px;
    border: none;
    font-size: 1rem;
    text-align: left;
    background: rgba(176, 176, 176, 0.2);
    color: white;
    backdrop-filter: blur(10px);
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.2);
    
}

#cityInput::placeholder {
    color: rgba(255, 255, 255, 0.6);
    padding-left: 3px;
    
}


.temperature {
    text-align: right;
    flex-grow: 1;
}

.temperature h1 {
    font-size: 3.5rem;
    font-weight: bold;
    margin: 0;
}

.temperature p {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.7);
    margin: 0;
}


.glass-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 20px;
}


.glass-card {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    padding: 3px;
    text-align: center;
    font-size: 1rem;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}


.glass-card h3 {
    font-size: 1.1rem;
    font-weight: 50px;
    color: white;
    text-align: left;
    margin-left: 1rem;
    padding-bottom: 0.1rem;
}

.glass-card p {
    font-size: 1.3rem;
    font-weight: 900px;
    color: white;
    text-align: left;
    margin-left: 1rem;
}
